body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(bg.jpg);
}

.container {
    background-color: transparent;
    padding: 30px;
    border-radius: 90px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label, #result {
    display: block;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: #0c0d0c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
